asgiref==3.3.1
beautifulsoup4==4.9.3
cycler==0.10.0
-e git+https://github.com/rbturnbull/dcodex.git@f5657148a9aae38bd18dfcfd2b17b291c316165b#egg=dcodex
-e git+https://github.com/rbturnbull/dcodex_variants.git@4a93837f9008f6c7018af3a057a1d53351c28667#egg=dcodex_variants
Django==3.1.3
django-polymorphic==3.0.0
-e git+https://github.com/rbturnbull/gotoh.git@9887175dfc40601493471b481a69aa3152408d49#egg=gotoh
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.4
pandas==1.1.4
Pillow==8.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.0
pytz==2020.4
pyxDamerauLevenshtein==1.6.1
scipy==1.5.4
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
