{% extends "dcodex/base_sidebars.html" %}
{% load static %}
{% load dcodex_tags %}
{% load dcodex_variants_tags %}
{% block title %}{{ witness }}: {{location.start_verse}}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'dcodex/css/comparison.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
#collation_locations {
	position: absolute;
    top: 125px;
    bottom: 0px;
    left: 0px;
    width: 100%;
	overflow:scroll;
	z-index: 2;
}
.collation_location {
    text-align: center;
    margin: 5px;
    padding: 5px;
    color: #007AFF;
    background-color: #dddddd;
    cursor: pointer;    
}
.collation_location_selected {
    background-color: yellow;
}

.comparison_button {
    width: 20px;
    height: 25px;
}
</style>
{% endblock %}

{% block middle %}
<div id="header">
<div class="container text-center">
    <div class="row">
    {% if location.prev %}
        <div id="prev_location" class='inputHeader inputButton noselect'>
            <a href="{% url 'location_for_witness' witness location.prev.id %}" class="btn btn-primary btn-sm chk-saved"><i class="fas fa-arrow-left"></i></a>
        </div>
    {% endif %}
    {% if location.next %}
        <div id="next_location" class='inputHeader inputButton noselect'>
            <a href="{% url 'location_for_witness' witness location.next.id %}" class="btn btn-primary btn-sm chk-saved"><i class="fas fa-arrow-right"></i></a>        
        </div>
    {% endif %}
        <div id="untagged" class='inputHeader inputButton noselect'>
            <a href="{% url 'next_location_for_witness' witness %}" class="btn btn-primary btn-sm chk-saved"><i class="fas fa-angle-double-right"></i></a>        
        </div>
    </div>

    <h2>{{ location.start_verse }}</span></h2>

    <ul>
    {% for reading in location.reading_set.all %}
        <li>{{ reading.id }}: {{ reading }}
    {% endfor %}
    </ul>
    </div>
</div>
<div class="container text-center">
<div id="variants">
    {% for reading in location.reading_set.all %}
        <button type="button" class="btn  {{ witness|button_for_reading:reading }} reading" data-reading="{{ reading.id }}" data-toggle="tooltip" title="{{ reading.witnesses_sigla }}" data-placement="bottom">{{ reading }}</button>
    {% endfor %}
    <hr>
</center>

<div >
    <div class="form-group">
        <label for="text">Text of family</label>
        <input type="text" id="text" name="text" style='font-size: 2.0em; direction: rtl;' class="form-control text-center" value="{{ text }}">
    </div>
    <div class="form-group">
        <label for="info">Info</label>
        <textarea class="form-control text-center" id="info" rows="3">{{ info }}</textarea>
    </div>

    <input type="button" class="btn btn-primary" id="savetext" value="Save Text">
</div>

{% for transcription in transcriptions %}
    <div class="transcription {% transcription_contra_class witness location transcription %}" id="transcription{{ transcription.id }}" data-transcription="{{ transcription.id }}">
        <h2>{{transcription.manuscript}}</h2>
        <p>{{transcription.verse}}</p>
        <p style='direction: rtl; font-size: 3.0rem'>{{ transcription.transcription }}</p>
        <input type="image" src="{% static 'dcodex/images/preview.png' %}" class="mshover comparison_button" data-manuscriptid="{{ transcription.manuscript.id }}" data-verseid="{{ transcription.verse.id }}">
        <button type="button" class="btn btn-outline-danger toggle-contra" data-transcription="{{ transcription.id }}">Contra</button>
    </div>
{% endfor %}

<!--

{% for manuscript in manuscripts %}
    <div>
    <h2>{{manuscript}}</h2>
    <p style='direction: rtl; font-size: 3.0rem'>{{ manuscript|manuscript_transcription:location.start_verse }}</p>
    <input type="image" src="{% static 'dcodex/images/preview.png' %}" class="mshover comparison_button" data-manuscriptid="{{ manuscript.id }}" data-verseid="{{ location.start_verse.id }}">
    </div>
{% endfor %}
-->



<div style='height: 400px; '>
{% if location.prev %}
    <div  id=prev_location_bottom class='inputHeader inputButton noselect'>
        <a href="{% url 'location_for_witness' witness location.prev.id %}"  class="btn btn-primary btn-sm chk-saved"><i class="fas fa-arrow-left"></i></a>    

    </div>
{% endif %}
{% if location.next %}
    <div id="next_location_bottom" class='inputHeader inputButton noselect'>
        <a href="{% url 'location_for_witness' witness location.next.id %}"  class="btn btn-primary btn-sm chk-saved"><i class="fas fa-arrow-right"></i></a>        
    </div>
{% endif %}

</div>
</div>
</div>


{% endblock %}

{% block right_sidebar %}

<div id='comparison'></div>

{% endblock %}



{% block left_sidebar %}

<center>
    <img src="{% static 'dcodex/images/DCodex-Logo.svg' %}" id='logo' />
</center>

<div id="collation_locations">
    {% for collation_location in location.collection.locationbase_set.all %}
        <div class="collation_location {% if collation_location.id == location.id %}collation_location_selected{% endif %}" id="collation_location{{ collation_location.id }}">
            <div>
                <a href="{% url 'location_for_witness' witness collation_location.id %}">{{collation_location.start_verse.reference_abbreviation}}</a> 
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}


{% block extra %}
<div id=hover></div>
<div id=msHover style='overflow:hidden;'></div>
{% endblock %}


{% block javascript %}
<script src="{% static 'dcodex/js/jquery.scrollTo.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<script>
var hover_xhr = null;

$( document ).ready(function() {
    console.log( "loading from location.html" );
    var unsaved = false;

    function set_attestation( reading ) {
        $.ajax({
            type: "POST",
            url: "/dcodex_variants/set_attestation/",
            data: {
                'reading_id': reading.data('reading'), 
                'witness_id': {{ witness.id }},
                'text' : $("#text").val(),
                'info' : $("#info").val(),
                },
            success: function(msg){
                if (msg == "OK") {
                    reading.removeClass( 'btn-outline-primary' );
                    reading.addClass( 'btn-primary' );
                    unsaved = false;

                    $(".transcription.btn-warning").each( function() {
                        set_contra( $(this).data("transcription") );
                    });
                }
                else {
                    alert("There was a problem setting the attestation.");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status + ": " + thrownError);
            }
        });        
    }
    function remove_attestation( reading ) {
        $.ajax({
            type: "POST",
            url: "/dcodex_variants/remove_attestation/",
            data: {
                'reading_id': reading.data('reading'), 
                'witness_id': {{ witness.id }},
                },
            success: function(msg){
                if (msg == "OK") {
                    reading.addClass( 'btn-outline-primary' );
                    reading.removeClass( 'btn-primary' );
                }
                else {
                    alert("There was a problem removing the attestation.");
                }
            }
        });        
    }
    $('#savetext').click(function(e) {
        var time = 0;
        $(".reading.btn-primary").each(function( index ) {
            var reading = $(this);
            setTimeout(function() {
                set_attestation( reading ); // Timeout here is so there aren't multiple writes to the database at the same time.
            }, time);
            time += 100;
        });
    });
    $('.chk-saved').click(function(e) {
        if (unsaved) {
            alert("You have unsaved changes.");
            return false;
        }
        return true;
        
	});
    $('.reading').click(function(e) {
        reading = $(this);
        if ( reading.hasClass('btn-primary') ){
            remove_attestation( reading );
        }
        else {
            set_attestation( reading );
        }
        $('[data-toggle="tooltip"]').tooltip("hide");
        return true;
	});

    function set_contra( transcription_id ) {
        $.ajax({
            type: "POST",
            url: "{% url 'set_contra' %}",
            data: {
                'witness_id': {{ witness.id }},
                'location_id': {{ location.id }},
                'transcription_id': transcription_id,
                },
            success: function(msg){
                $("#transcription"+transcription_id).addClass( 'btn-warning' );
            }
        });        

    }
    function remove_contra( transcription_id ) {
        $.ajax({
            type: "POST",
            url: "{% url 'remove_contra' %}",
            data: {
                'witness_id': {{ witness.id }},
                'location_id': {{ location.id }},
                'transcription_id': transcription_id,
                },
            success: function(msg){
                $("#transcription"+transcription_id).removeClass( 'btn-warning' );
            }
        });        
    }
    $('.toggle-contra').click(function(e) {
        var transcription_id = $(this).data("transcription");
        if ( $("#transcription"+transcription_id).hasClass( 'btn-warning' ) ) {
            remove_contra( transcription_id );
        }
        else {
            set_contra( transcription_id );
        }
        return true;
	});
    load_comparison({{ location.start_verse.id }}, {{ manuscripts.first.id }}, '#comparison' );

    $(":input").change(function(){ //triggers change in all input fields including text type
        unsaved = true;
    });

    $('#collation_locations').scrollTo($('#collation_location{{ location.id }}' ));				

    $('#variants').css( {top: $('#header').height()});
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}